<!DOCTYPE HTML>
<html>
<head>
    <title>文章管理系统</title>
	<meta charset="utf-8" />
</head>
<body>
    <form action="{spUrl c=passage  a=index}" method="post">
     <table>
			<tr>
			<th>排序</th>
			<th>标题</th>
			<th>作者</th>
			<th>分类</th>
			<th>删除文章</th>
			<th>修改文章</th>
			<th>日期</th>
			</tr>
			{foreach item=value from=$result}
			<tr>
				<td>{$value.id}</td>
				<td>{$value.title}</td>
				<td>{$value.author}</td>
				<td name="">{$value.category}</td>
				<td><a href="{spUrl c=passage a=deletePassage id={$value.id}}">删除文章</td>
				<td><a href="{spUrl c=passage a=editPassage id={$value.id} passage={$value.passage} }">修改文章</td>
				
				<td>{$value.posttime}</td>
			</tr>
			{/foreach}	
			</table>
    </form>
	<form action="{spUrl c=passage a=listPassage}" method="post"> 
		<input type="text" name="title" id="title" /> 
		<input type="submit" value="查找" />
	</form>
</body>
</html>