<!doctype html>
<html>
    <head>
        <title>Post</title>
        <meta charset="utf-8" />
        <script src="/spblog/template/js/ueditor/editor_config.js"></script>
        <script src="/spblog/template/js/ueditor/editor_all_min.js"></script>
        <link rel="stylesheet" href="/spblog/template/js/ueditor/themes/default/ueditor.css"/>
        <style>
        #form_posts > div { margin: 1em 0.5em; }
        #submit_button { margin: 0.7em; float: right; }
        #submit_button:hover { color: black; }
        #submit_button:active { background: #ccc; }
        </style>
        <script>
            $(function (){
                $( "#post_date" ).datepicker({
                    altField: "#alternate",
                    altFormat: "yy-mm-dd",
                    dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["一月","二月","三月","四月","五月","六月",
                                      "七月","八月","九月","十月","十一月","十二月"]                  
                }); 
            });
        </script>
    </head>
    
    <body>
        <section style="margin: 1em 2em;">
            <form id="form_posts" action="<{spUrl c=znPost a=save}>" method="post">
                <div>
                    <label for="post_title">标题</label>
                    <input type="text" name="post_title" id="post_title" value="<{$result.post_title}>" />
                </div>
                <div>
                    <label for="post_author">作者</label>
                    <input type="text" name="post_author" id="post_author" value="<{$result.post_author}>" />
                </div>
                <div>
                    <label for="post_date">日期</label>
                    <input type="date" name="post_date" id="post_date" value="<{$result.post_date}>" />
                     <script>
                        (function ($) {
                            $('#gid_option').change(function (){
                                $('#group_id').val($(this).val());
                            });
                        })(jQuery)
                    </script>
                </div>
                <div>
                    <label for="post_excerpt" style="position: relative; top: -1.2em;">摘录</label>
                    <textarea name="post_excerpt" id="post_excerpt" style="width: 400px; height: 40px;"><{$result.post_excerpt}></textarea>
                </div>
                <div>
                    <label for="post_content" style="display: block; margin: 1em 0;">正文内容(含HTML)</label>
                    <script type="text/plain" id="editor"><{$result.post_content}></script>
                    <input type="hidden" name="post_id" id="post_id" value="<{$result.post_id}>" />
                </div>
                <div>
                    <input id="submit_button" type="submit" value="submit" />
                </div>
            </form>
            <script>
                var editor = new baidu.editor.ui.Editor({
                    initialContent: '', // 初始化的值
                    textarea:'post_content'  // 提交后台的数据 name
                });
                editor.render('editor');
            </script>
        </section>
    </body>
</html>